@page "/account"
@using StatusExposed.Models
@using StatusExposed.Services

@inject IAuthenticationService AuthenticationService
@inject IUserDataService UserDataService

<Protected>
    <Authorized>
        @if (user is not null)
        {
            <h3>Hello, @user.Email</h3>

            <p>Your permissions:</p>

            <ul>
                @foreach (Permission permission in user.Permissions)
                {
                    <li>@permission.Name</li>
                }
            </ul>

            @if (subscibedServices is not null)
            {

                <p>Subscribed Services:</p>

                <ul>
                    @foreach (StatusInformation statusInformation in subscibedServices)
                    {
                        <li>@statusInformation.ServicePageDomain</li>
                    }
                </ul>
            }
        }
    </Authorized>
    <NotAuthorized>
        Sorry, you don't have the required permissions to see this.
    </NotAuthorized>
</Protected>

@code {


    private User? user;
    private IEnumerable<StatusInformation>? subscibedServices;

    protected override async Task OnInitializedAsync()
    {
        user = await AuthenticationService.GetUserAsync();
        subscibedServices = await UserDataService.GetAllSubscribedServicesAsync();
    }

}
