@page "/account"
@using StatusExposed.Models
@using StatusExposed.Services

@inject IAuthenticationService AuthenticationService

<Protected>
    <Authorized>
        @if (user is not null)
        {
            <h3>Hello, @user.Email</h3>

            <p>Your permissions:</p>

            <table>
                @foreach (Permission permission in user.Permissions)
                {
                    <tr>@permission.Name</tr>
                }
            </table>
        }
    </Authorized>
    <NotAuthorized>
        Sorry, you don't have the required permissions to see this.
    </NotAuthorized>
</Protected>

@code {


    private User? user;

    protected override async Task OnInitializedAsync()
    {
        user = await AuthenticationService.GetUserAsync();
    }

}
