@page "/admin"

<HeadContent>
    <meta name="robots" content="noindex">
</HeadContent>



<Protected RequiredPermissions="role:admin" UseLoadingScreen="true">
    <Authorized>
        <h3>AdminPage</h3>
    </Authorized>
    <NotAuthorized>
        Sorry, you don't have the required permissions to see this.
    </NotAuthorized>
</Protected>

@code {

}
