@page "/"

@using StatusExposed.Models
@using StatusExposed.Services

@inject IStatusService StatusService

<Div Flex="Flex.JustifyContent.Around.Wrap">
    <!--TODO: Implement infinite scrolling instead of requesting only 100 services-->
    @foreach (ServiceInformation statusInformation in StatusService.GetStatuses(0, 100))
    {
        <StatusCard StatusInformation="statusInformation" />
    }
</Div>
