@inherits LayoutComponentBase

<PageTitle>StatusExposed</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="text-light">
        <article class="content p-4 h-100">
            @Body
        </article>
    </main>
</div>
