@inherits LayoutComponentBase

<PageTitle>StatusExposed</PageTitle>

<HeadContent>
    <meta name="description" content="A website to track the status of other websites">
    <meta name="theme-color" content="#b02763">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://status.exposed">
    <meta property="og:type" content="website">
    <meta property="og:title" content="StatusExposed">
    <meta property="og:description" content="A website to track the status of other websites">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="status.exposed">
    <meta property="twitter:url" content="https://status.exposed">
    <meta name="twitter:title" content="StatusExposed">
    <meta name="twitter:description" content="A website to track the status of other websites">
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="text-light">
        <article class="content p-4 h-100">
            @Body
        </article>
    </main>
</div>
